body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

#line {
    width: 200px;
    height: 2px;
    background-color: #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center center; /* Rotate around center */
    transform: translate(-50%, -50%) rotate(0deg);
}

